.main {
  @apply py-4 bg-white rounded-lg place-self-stretch mt-3 drop-shadow-xl;
}

.search {
  @apply flex items-center p-2 px-4 space-x-4 rounded-md border border-neutral-2 w-fit;
}

.search > input {
  @apply w-44;
}

.search > input:focus {
  @apply outline-none;
}

.container {
  @apply h-[calc(100%_-_5.7rem)] px-2;
}

.container.loading > div {
  @apply overflow-hidden;
}

.container > div {
  height: 100% !important;
}

.pagination {
  @apply flex items-center justify-between px-4;
}

.pagination > div > p {
  @apply text-xs font-medium;
}