.container {
  @apply absolute left-0 top-0 bg-primary pb-4 h-screen bg-[url('/assets/images/ornamen-1.png')] bg-cover bg-bottom transition-all duration-500
}

.line {
  @apply mt-3;
  height: 1px;
  background: rgb(224,225,226);
  background: linear-gradient(90deg, rgba(224,225,226,0) 0%, rgba(224,225,226,1) 50%, rgba(224,225,226,0.16) 100%);
}

.logo {
  @apply flex items-center space-x-3
}

.logo > p {
  @apply font-bold text-white truncate
}

.wrapperMenu {
  @apply flex items-center space-x-3
}

.wrapperMenu > p {
  @apply truncate
}

.mainMenu {
  @apply px-4 pb-3
}

.mainMenu > h1 {
  @apply text-sm text-white opacity-75 truncate
}

.dropdown {
  @apply flex justify-between items-center p-2 w-full
}

.nav {
  @apply space-y-2 px-4 
}

.menu {
  @apply flex items-center space-x-3 p-2
}

.wrapperSubMenu {
  @apply flex items-center space-x-3 px-4 py-2 mt-2
}

.activeMenu {
  @apply bg-white rounded-xl
}

.activeMenu > div {
  @apply bg-primary w-fit p-2 rounded-xl
}

.activeMenu > p {
  @apply text-primary font-semibold
}

.inactiveMenu > div {
  @apply bg-white w-fit p-2 rounded-xl
}

.inactiveMenu > p {
  @apply text-white font-semibold
}

.container.close {
  @apply w-20
}

.dote {
  @apply w-2 h-2 rounded-full
}

.container.close .logo > p,
.container.close .mainMenu > h1,
.container.close .wrapperMenu > p,
.container.close .activeMenu > p,
.container.close .inactiveMenu > p,
.container.close .dropdown > img,
.container.close .wrapperSubMenu > p {
  @apply hidden
}

.container.close .activeMenu,
.container.close .inactiveMenu {
  @apply w-fit 
} 

.container.close .wrapperSubMenu {
  @apply !px-0 bg-primary
}

.container.close .dote {
  @apply !bg-white
}