.info {
  @apply absolute top-0 right-0 flex flex-col justify-center items-center bg-primary bg-[url('/assets/images/ornamen-2.png')] bg-cover bg-bottom px-8 space-y-4 rounded-bl-2xl;
  height: 40rem;
  width: 45%;
}